// Переменные
$dark: #262626;
$light: #F8F3CF;


/*Анимации*/

@keyframes fadein {
	to{
		opacity: 1;
	}
}

@keyframes fadeinX {
	to{
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes fadeinY {
	to{
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes moveX100 {
	to{
		transform: translateX(100%);
	}
}

@keyframes moveX0 {
	to{
		transform: translateX(0);
	}
}


/*Прогрес*/

.progress {
	position: fixed;
	z-index: 3;
	left: 0;
	top: 0;
	width: 0%;
	height: 4px;
	background: #000;
}


/*Общие стили*/

::-webkit-scrollbar {
	width: 0;
}
* {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	color: $dark;
}
h1 {
	font-weight: bold;
	font-size: 3.6rem;
	letter-spacing: 0.6rem;
	margin-bottom: 100px;
	text-align: center;
	position: relative;
	opacity: 0;
	transform: translateY(400%);
	animation: fadeinY 0.5s ease forwards;
	&:before, &:after {
		content: '';
		position: absolute;
		width: 50px;
		height: 2px;
		background: $light;
		top: 50%;
		transform: translateY(-1px);
	}
	&:before {
		transform: translateX(-75px);
	}
	&:after {
		transform: translateX(25px);
	}
}
h2 {
	color: #fff;
	font-weight: 600;
	font-size: 3rem;
	letter-spacing: 0.6rem;
	margin-bottom: 80px;
	text-align: center;
	position: relative;
	opacity: 0;
	transform: translateY(400%);
	animation: fadeinY 0.5s ease forwards;
	&:before, &:after {
		content: '';
		position: absolute;
		width: 5px;
		height: 5px;
		border-radius: 5px;
		background: $light;
		top: 50%;
	}
	&:before {
		transform: translateX(-20px) translateY(-3px);
	}
	&:after {
		transform: translateX(15px) translateY(-3px);
	}
}
h3 {
	font-weight: bold;
	font-size: 2.4rem;
	position: relative;
	&:before, &:after {
		content: '';
		position: absolute;
		width: 5px;
		height: 5px;
		border-radius: 5px;
		background: $dark;
		top: 50%;
	}
	&:before {
		transform: translateX(-20px) translateY(-3px);
	}
	&:after {
		transform: translateX(15px) translateY(-3px);
	}
}
h4 {
	position: relative;
	font-size: 1.6rem;
	letter-spacing: 0.2rem;
	color: #fff;
	opacity: 0.8;
	&:after {
		content: '';
		width: 80px;
		height: 2px;
		background: $light;
		position: absolute;
		bottom: -17px;
		left: 80px;
	}
}
body {
	background: $dark;
}
.container {
	width: 1290px;
	margin: 0 auto;
}


/*Первая секция*/
/*Шапка*/

.head {
	&__container {
		display: grid;
		grid-template: 100px / 1fr 2fr 1fr;
		align-items: center;
	}
	p, a {
		font-size: 1.8rem;
		color: rgba(255, 255, 255, 0.7);
	}
	p {font-size: 1.4rem;}
	&__contacts {
	display: flex;
	justify-content: space-between;
	align-items: center;
	a img {
		width: 30px;
		height: 30px;
		transition: transform 0.3s ease;
	}
	a:hover img {
		transform: scale(1.1);
	}
	}
}
.head__tel {
	display: none;
}
.burger-btn {
	width: 50px;
	height: 50px;
	margin-left: auto;
	position: relative;
	z-index: 6;
	transition: all 0.6s ease;
	span {
		width: 30px;
		height: 2px;
		background: #fff;
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -1px 0 0 -15px;
		transition: background 0.5s ease, width 0.2s ease;
		&:before, &:after {
			content: '';
			width: 30px;
			height: 2px;
			background: #fff;
			position: absolute;
			left: 0;
			transition: background 0.6s ease, transform 0.5s ease;
		}
		&:before {
			transform: translateY(-9px);
		}
		&:after {
			transform: translateY(9px);
		}
	}
	&:hover{
	 	span, span:before, span:after {
			background: $light;
		}
	}
}
.burger-btn__active {
	z-index: 8;
	span {
		width: 0;
		&:before {
			transform: rotate(45deg);
		}
		&:after {
			transform: rotate(-45deg);
		}
	}
}

/*Контент*/

.main {
	background: #fff;
	position: relative;
	display: flex;
	justify-content: space-between;
	&__cross-anim1 {
		position: absolute;
		top: 500px;
		width: 50%;
		height: 50px;
		display: flex;
		justify-content: space-around;
		animation: moveX100 8s linear infinite;
		img {
			height: 100%;
		}
	}
	&__cross-anim2 {
		position: absolute;
		transform: translateX(-100%);
		top: 500px;
		width: 50%;
		height: 50px;
		display: flex;
		justify-content: space-around;
		animation: moveX0 8s linear infinite;
		img {
			height: 100%;
		}
	}
	&__container {
		width: 645px;
		margin: 0 0 0 auto;
	}
	&__picture {
		width: 50%;
		position: relative;
		z-index: 2;
		img {
			width: 100%;
			height: 100%;
		}
		img:nth-child(1) {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 3;
			opacity: 0.2;
		}
	}
}
.offer {
	margin-top: 8vw;
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	h1, p {
		letter-spacing: 0;
		margin-bottom: 14px;
		opacity: 0;
		transform: translateY(0);
		text-align: center;
	}
	h1:before, h1:after {
		display: none;
	}
	h1:nth-child(1) {
		animation: fadein 1.4s 1s ease forwards;
	}
	h1:nth-child(2) {
		animation: fadein 1.4s 2.4s ease forwards;
	}
	p {
		font-size: 1.8rem;
		font-weight: 600;
		animation: fadein 1.4s 3.8s ease forwards;
	}
	&__button {
		position: relative;
		width: 180px;
		height: 56px;
		margin-top: 60px;
		opacity: 0;
		transform: translateX(-200%);
		animation: fadeinX 0.8s 5.7s ease forwards;
		button {
			position: absolute;
			z-index: 2;
			width: 100%;
			height: 100%;
			font-size: 1.8rem;
			letter-spacing: 0.2rem;
			font-weight: 600;
			color: #000;
		}
		.leftside {
			position: absolute;
			width: 90px;
			height: 56px;
			top: 0;
			left: 0;
			border: 3px solid #000;
			border-right: none;
			transition: transform 0.3s ease;
		}
		.rightside {
			position: absolute;
			width: 90px;
			height: 56px;
			top: 0;
			right: 0;
			border: 3px solid #000;
			border-left: none;
			transition: transform 0.3s ease;
		}
		.linetop {
			position: absolute;
			width: 90px;
			height: 56px;
			bottom: 0;
			left: 0;
			border-right: 3px solid #000;
			opacity: 0;
			transition: all 0.3s ease;
		}
		.linebottom {
			position: absolute;
			width: 90px;
			height: 56px;
			bottom: 0;
			left: 0;
			border-right: 3px solid #000;
			opacity: 0;
			transition: all 0.3s ease;
		}
		&:hover {
			.leftside {
				transform: translateX(-15px);
			}
			.rightside {
				transform: translateX(15px);
			}
			.linetop {
				opacity: 1;
				transform: translateY(-50px);
			}
			.linebottom {
				opacity: 1;
				transform: translateY(50px);
			}
		}
	}
}

/*Окно записи*/

/*Стили окна*/
.popup {
	background: #fff;
	padding: 30px;
	text-align: left;
	max-width: 500px;
	margin: 40px auto;
	position: relative;
	font-size: 1.8rem;
	font-weight: 500;
	text-align: center;
	h3 {
		margin-bottom: 20px;
		&:before, &:after {
			display: none;
		}
	}
	input {
		margin: 10px 0 10px 0;
		border-radius: 0;
		border-bottom: 1px solid $dark;
		text-align: center;
	}
	fieldset {
		position: relative;
		margin: 10px 0 10px 0;
		display: inline-flex;
		align-items: center;
		.select__btn {
			position: relative;
			border: 1px solid #000;
			width: 200px;
			height: 25px;
			margin-left: 10px;
			img {
				width: 12px;
				height: 12px;
				transform: rotate(90deg);
				position: absolute;
				right: 6px;
				top: 6px;
			}
		}
		p {
			opacity: 0.7;
		}
		span {
			position: absolute;
			left: 6px;
			top: 3px;
			opacity: 0;
			&:nth-child(1) {
				opacity: 1;
			}
		}
	}
	.options {
		position: absolute;
		top: 100%;
		left: -1px;
		width: 200px;
		height: 0px;
		background: #fff;
		border: 0px solid #000;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		overflow: hidden;
		transition: height 0.2s ease, border 0s 0.2s;
		label {
			transition: all 0.1s ease;
			line-height: 27px;
			text-align: left;
			&:hover {
				background: $dark;
				color: #fff;
			}
		}
	}
	.options__show {
		height: 81px;
		border: 1px solid #000;
		transition: height 0.3s ease, border 0s 0s;
	}
	input[type="radio"] {
		display: none;
	}
	textarea {
		text-align: center;
		border: 1px solid $dark;
		margin: 10px 0 10px 0;
		resize: vertical;
	}
	.submit {
		position: relative;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		width: 140px;
		height: 40px;
		margin: 10px 0 0 0;
		rect {
			stroke-dasharray: 60 300;
			stroke: $dark;
			stroke-width: 3;
			stroke-dashoffset: 140;
			transition: all 0.8s ease;
		}
		&:hover rect {
			stroke: #000;
			stroke-width: 4;
			stroke-dasharray: 500 0;
		}
		&:hover input {
			color: #000;
		}
	}
	input[type="submit"] {
		width: 140px;
		height: 40px;
		border: none;
		position: absolute;
		transition: color 0.3s ease;
	}
}
.mfp-close {
	transition: all 0.3s ease;
}
/*Анимация*/
.my-mfp-slide-bottom .zoom-anim-dialog {
	opacity: 0;
	transition: all 0.2s ease-out;
	transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
}

/* animate in */
.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog {
	opacity: 1;
	transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
}

/* animate out */
.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog {
	opacity: 0;
	transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
}

/* Dark overlay, start state */
.my-mfp-slide-bottom.mfp-bg {
	opacity: 0;
	transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-slide-bottom.mfp-ready.mfp-bg {
	opacity: 0.8;
}
/* animate out */
.my-mfp-slide-bottom.mfp-removing.mfp-bg {
	opacity: 0;
}

/*Меню*/

.menu {
	position: fixed;
	z-index: 4;
	transform: translateX(-100%);
	opacity: 0;
	transition: transform 0s 1s, opacity 0.5s 0.5s ease;
	top: 0;
	width: 100vw;
	height: 100vh;
	background: $dark;
	nav div {
		width: 180px;
		height: 50px;
		position: relative;
		opacity: 0;
		transform: translateX(-100%);
		button {
			position: absolute;
			z-index: 10;
			width: 180px;
			height: 50px;
			color: #fff;
			font-size: 1.8rem;
			font-weight: 500;
			letter-spacing: 0.5rem;
			transition: color 0.6s ease;
		}
		rect {
			stroke-dasharray: 60 400;
			stroke: #fff;
			stroke-width: 4;
			stroke-dashoffset: 170;
			transition: all 0.6s ease;
		}

		&:hover rect {
			stroke: $light;
			stroke-width: 5;
			stroke-dasharray: 500 0;
		}
		&:hover button {
			color: $light;
		}
	}
	nav {
		margin-top: 150px;
		display: grid;
		grid-template: repeat(3, 1fr) / repeat(3, 1fr);
		grid-column-gap: 50px;
		grid-row-gap: 80px;
		justify-items: center;
		div:nth-child(1) {
			transition: all 0.1s 0.4s ease;
		}
		div:nth-child(2) {
			transition: all 0.1s 0.35s ease;
		}
		div:nth-child(3) {
			transition: all 0.1s 0.3s ease;
		}
		div:nth-child(4) {
			transition: all 0.1s 0.25s ease;
		}
		div:nth-child(5) {
			transition: all 0.1s 0.2s ease;
		}
		div:nth-child(6) {
			transition: all 0.1s 0.15s ease;
		}
		div:nth-child(7) {
			transition: all 0.1s 0.1s ease;
		}
		div:nth-child(8) {
			transition: all 0.1s 0.05s ease;
		}
		div:nth-child(9) {
			transition: all 0.1s ease;
		}
	}
}
header .menu__show {
	transform: translateX(0);
	opacity: 1;
	transition: transform 0s 0s, opacity 0.5s ease;
	nav div {
		transform: translateX(0);
		opacity: 1;
	}
	nav {
		div:nth-child(1) {
			transition: all 0.2s ease;
		}
		div:nth-child(2) {
			transition: all 0.2s 0.1s ease;
		}
		div:nth-child(3) {
			transition: all 0.2s 0.2s ease;
		}
		div:nth-child(4) {
			transition: all 0.2s 0.3s ease;
		}
		div:nth-child(5) {
			transition: all 0.2s 0.4s ease;
		}
		div:nth-child(6) {
			transition: all 0.2s 0.5s ease;
		}
		div:nth-child(7) {
			transition: all 0.2s 0.6s ease;
		}
		div:nth-child(8) {
			transition: all 0.2s 0.7s ease;
		}
		div:nth-child(9) {
			transition: all 0.2s 0.8s ease;
		}
	}
}
.hidescroll {
  overflow: hidden;
}


/*About секция*/

section.about {
	padding: 180px 0 92px 0;
	h1 {
		color: #fff;
	}
}

/*Блок с текстом*/

.about__content {
	position: relative;
	.about__img {
		width: 45%;
		box-shadow: 10px 10px 10px #000;
		opacity: 0;
		transform: translateX(-100%);
		animation: fadeinX 1s ease forwards;
		img {
			width: 100%;
			height: 100%;
		}
		img:nth-child(1) {
			position: absolute;
			z-index: 1;
			opacity: 0.04;
		}
	}
}
.about__text {
	position: absolute;
	z-index: 2;
	width: 70%;
	top: 18px;
	right: 0;
	opacity: 0;
	transform: translateX(100%);
	animation: fadeinX 1s ease forwards;
	img:nth-child(1) {
		width: 110px;
		position: absolute;
		top: 0;
		left: 0;
		transform: rotate(180deg);
	}
	img:nth-child(2) {
		width: 110px;
		position: absolute;
		bottom: 0;
		right: 0;
	}
	p {
		max-width: 550px;
		margin: 65px 75px;
		font-size: 2.4rem;
		font-weight: 400;
		line-height: 30px;
		text-align: justify;
		color: #FFF;
	}
}

/*Блок мастера*/

.about__masters {
	margin-top: 100px;
}
.masters-cards {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.card {
	position: relative;
	width: 240px;
	height: 550px;
	box-shadow: 10px 10px 10px #000;
	overflow: hidden;
	opacity: 0;
	transform: translateX(-100%);
	&:hover .card__content {
		transform: translateY(230px);
	}
	.noise {
		position: absolute;
		z-index: 1;
		top: 0;
		right: 0;
		width: 100%;
		height: 100%;
		opacity: 0.05;
	}
	&__content {
		position: relative;
		z-index: 2;
		width: 100%;
		height: 1000px;
		text-align: center;
		padding-top: 100px;
		background:  linear-gradient(0deg, #000000 83.91%, rgba(0, 0, 0, 0) 99.87%);
		transform: translateY(400px);
		transition: all 0.5s ease;
	}
	p {
		max-width: 90%;
		text-align: left;
		font-weight: 300;
		font-size: 1.2rem;
		line-height: 2rem;
		letter-spacing: 0.1rem;
		color: #fff;
		opacity: 0.8;
		margin: 35px auto 0 auto;
	}
	button {
		font-size: 1.6rem;
		letter-spacing: 0.2rem;
		color: $light;
		padding: 5px 10px;
		margin-top: 20px;
		border: 2px solid $light;
		transition: all 0.5s ease;
	}

	button:hover {
		background: $light;
		color: $dark;
	}
}
.maria {
	background: url(../img/maria.png);
	animation: fadeinX 0.5s ease forwards;
	background-size: cover;
	background-position: center;
	& + img {
		opacity: 0;
		transform: translateX(-300%);
		animation: fadeinX 0.5s 0.2s ease forwards;
	}
}
.ivan {
	background: url(../img/ivan.png);
	animation: fadeinX 0.5s 0.4s ease forwards;
	background-size: cover;
	background-position: center;
	& + img {
		opacity: 0;
		transform: translateX(-300%);
		animation: fadeinX 0.5s 0.6s ease forwards;
	}
}
.ana {
	background: url(../img/ana.png);
	animation: fadeinX 0.5s 0.8s ease forwards;
	background-size: cover;
	background-position: center;
}


/*Portfolio секция*/

section.portfolio {
	background: #fff;
}
.portfolio__transition {
	width: 100%;
	height: 150px;
	background: url('../img/transition.png') no-repeat;
	background-size: 100% 100%;
	transform: translateY(-2px);
	&:last-child {
		transform: rotate(180deg) translateY(-2px);
		margin-top: 88px;
	}
}
.portfolio__header {
	margin-top: 88px;
	&:before, &:after {
		background: $dark;
	} 
}
.portfolio__container {
	background: url('../img/portfolio__lines.png') no-repeat;
	background-size: contain;
	background-position: 0 135px;
}
.graphics, .realism, .minimalism {
	padding: 76px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/*Слайдеры*/

.slick-track {
	display: block;
}
.slick-list {
	overflow: hidden;
}
.slider {
	.noise {
		width: 540px;
		height: 520px;
		position: absolute;
		opacity: 0.05;
	}
	width: 540px;
	height: 520px;
	position: relative;
	box-shadow: 10px 10px 10px #000;
	opacity: 0;
	transform: translateX(-100%);
	animation: fadeinX 1s ease forwards;
}
.slider .slick-arrow {
	width: 25px;
	height: 30px;
	position: absolute;
	right: 20px;
	z-index: 5;
	font-size: 0;
	border: none;
	transition: background 0.3s ease;
	transform: rotate(90deg);
}
.slider .slick-arrow.slick-prev {
	top: 10%;
	background: url('../img/slider-arrow-left.svg') center no-repeat;
}
.slider .slick-arrow.slick-next {
	bottom: 10%;
	background: url('../img/slider-arrow-right.svg') center no-repeat;
}
.slider .slick-arrow.slick-prev:hover {
	background: url('../img/slider-arrow-left-hover-white.svg') center no-repeat;
}
.slider .slick-arrow.slick-next:hover {
	background: url('../img/slider-arrow-right-hover-white.svg') center no-repeat;
}
.slider .slick-dots {
	bottom: 50%;
	position: absolute;
	right: 16px;
	transform: translateY(50%);
}
.slider .slick-dots li {
	list-style-type: none;
	padding: 15px;
}
.slider .slick-dots button {
	width: 3px;
	height: 30px;
	font-size: 0;
	background: #5A5A5A;
	transition: background 0.3s ease;
}
.slider .slick-dots li.slick-active button {
	background: #fff;
}
.realism .slider {
	transform: translateX(100%);
}

/*Описание*/

.discription {
	text-align: center;
	max-width: 560px;
	opacity: 0;
	transform: translateX(100%);
	animation: fadeinX 1s ease forwards;
	p {
		font-size: 1.8rem;
		line-height: 3rem;
		text-align: justify;
		margin-top: 35px;
	}
}
.realism {
	.discription {
		order: -1;
		transform: translateX(-100%);
	}
}
.minimalism {
	align-items: flex-end;
	.morestyles {
		display: inline-block;
		margin-top: 100px;
		margin-bottom: 10px;
		position: relative;
		a {
			font-weight: 300;
			font-size: 1.8rem;
		}
		span:nth-child(2) {
			width: 115%;
			height: 1.5px;
			background: #000;
			position: absolute;
			bottom: -10px;
			right: -15%;
			transition: all 0.4s ease;
		}
		span:nth-child(3) {
			width: 0px;
			height: 1.5px;
			background: #000;
			position: absolute;
			bottom: -10px;
			left: 0;
			transition: all 0.4s 0.4s ease;
		}
		span:nth-child(4) {
			width: 20px;
			height: 20px;
			position: absolute;
			right: -30px;
			transition: all 0.4s ease;
			background: url('../img/arrow.svg') no-repeat center;
		}
		a:hover~span:nth-child(2) {
			width: 0;
		}
		a:hover~span:nth-child(3) {
			width: 115%;
		}
	}
}


/*Price секция*/

section.price {
	padding: 92px 0 180px;
	text-align: center;
	p {
		font-size: 2.4rem;
		color: #fff;
		margin-top: 15px;
		opacity: 0;
		transform: translateY(400%);
		animation: fadeinY 0.5s ease forwards;
	}
	p.price__lasttext {
		font-size: 1.8rem;
		line-height: 3rem;
		color: #fff;
		margin-top: 40px;
		opacity: 0;
		transform: translateY(400%);
		animation: fadeinY 0.5s ease forwards;
	}
}
.price__header {
	color: #fff;
	opacity: 0;
	transform: translateY(400%);
	animation: fadeinY 0.5s ease forwards;
}
.price__icon {
	margin: 0 auto 60px;
	opacity: 0;
	transform: translateY(400%);
	animation: fadeinY 0.5s ease forwards;
}
.calculator {
	margin: 80px auto 60px;
	max-width: 1000px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	opacity: 0;
	transform: translateY(400%);
	animation: fadeinY 0.5s ease forwards;
	&__imput {
		position: relative;
		input {
			font-weight: 250;
			font-size: 1.8rem;
			color: #fff;
			text-align: center;
			width: 150px;
		}
		&:before {
				content: '';
				width: 150px;
				height: 1.5px;
				background: $light;
				position: absolute;
				top: 110%;
		}
	}
}
.chooseStyle {
	position: relative;
	width: 170px;
	height: 3.2rem;
	&:before {
				content: '';
				width: 100%;
				height: 1.5px;
				background: $light;
				position: absolute;
				z-index: 2;
				top: 100%;
				left: 0;
	}
	span {
		font-weight: 250;
		font-size: 1.8rem;
		color: #fff;
		opacity: 0.25;
		width: 100%;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: -10px;
	}
	span:nth-child(2), span:nth-child(3), span:nth-child(4) {
		opacity: 0;
	}
	img {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 5px;
	}
	&__styles {
		width: 170px;
		height: 0px;
		background: rgba(0, 0, 0, 0.2);
		position: absolute;
		top: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
		overflow: hidden;
		transition: height 0.2s ease;
		label {
			position: relative;
			font-weight: 250;
			font-size: 1.8rem;
			line-height: 33px;
			color: #fff;
			width: 100%;
			transition: all 0.1s ease;
		}
		label:hover {
			color: $light;
			background: rgba(0, 0, 0, 0.2);
		}
		img {
			position: static;
		}
		input {
			display: none;
		}
	}
	&__styles__show {
		height: 99px;
	}
}
.calculate {
	font-size: 1.8rem;
	font-weight: 400;
	color: $light;
	padding: 5px 10px;
	border: 1px solid $light;
	transition: all 0.5s ease;
	&:hover {
		background: $light;
		color: $dark;
	}	
}
.tattooPrice {
	width: 100px;
	font-weight: 250;
	font-size: 1.8rem;
	color: #fff;
	border: 1px solid $light;
	padding: 5px 0;
	margin: 0 auto;
	opacity: 0;
	transform: translateY(400%);
	animation: fadeinY 0.5s ease forwards;
}


/*Usefulinfo секция*/

.usefulInfo__container {
	position: relative;
	z-index: 3;
	text-align: center;
}
.usefulInfo__head {
	h1 {
		color: #fff;
	}
	p {
		font-size: 2.4rem;
		color: #fff;
		text-align: center;
		opacity: 0;
		transform: translateY(400%);
		animation: fadeinY 0.5s ease forwards;
	}
	img {
		margin: 25px auto 25px;
		opacity: 0;
		transform: translateY(400%);
		animation: fadeinY 0.5s ease forwards;
	}
}
.articles {
	width: 100%;
	height: 600px;
	padding-top: 75px;
}
.article {
	max-width: 600px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	opacity: 0;
	transform: translateX(-100%);
	animation: fadeinX 0.5s ease forwards;
	img {
		width: 100%;
		margin: 30px 0;
	}
	p {
		font-size: 1.8rem;
		font-weight: 300;
		text-align: left;
		color: #fff;
	}
	button {
		font-size: 1.8rem;
		font-weight: 400;
		color: $light;
		padding: 5px 10px;
		border: 1px solid $light;
		transition: all 0.5s ease;
		&:hover {
			background: $light;
			color: $dark;
		}
	}
}
a.up {
	position: relative;
	display: inline-block;
	margin-top: 80px;
	font-size: 1.8rem;
	font-weight: 400;
	color: #fff;
	padding: 5px 10px;
	transition: all 0.5s ease;
	opacity: 0;
	animation: fadein 0.5s ease forwards;
	img {
		margin: 0 auto !important;
		height: 1.8rem;
		transition: all 0.3s ease;
	}
}
a.up:hover {
	img {
		transform: translateY(-80%);
	}
}


/*Футер*/

.footer__container {
	height: 200px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.footer__info {
	width: 400px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-right: 50px;
	transition: all 0.5s ease;
	opacity: 0;
	transform: translateX(-100%);
	animation: fadeinX 0.5s ease forwards;
	a {
		font-size: 1.4rem;
		color: rgba(255, 255, 255, 0.7);
		text-decoration: underline;
		transition: color 0.3s ease;
		&:hover {
			color: $light;
		}
	}
}
.footer__cross {
	opacity: 0;
	transform: translateY(300%);
	animation: fadeinY 0.5s ease forwards;
}
.footer__contacts {
	width: 400px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	opacity: 0;
	transform: translateX(100%);
	animation: fadeinX 0.5s ease forwards;
	a, p {
		font-size: 1.4rem;
		color: rgba(255, 255, 255, 0.7);
	}
	a img {
		transition: transform 0.3s ease;
	}
	a:hover img {
		transform: scale(1.1);
	}
}


/*Адаптивность*/

@media screen and(min-width: 1750px) {

	html {
		font-size: 12px;
	}
	.container {
		width: 1480px;
	}

	/*Первая секция*/

	.main__container {
		width: 740px;
	}
	.offer {
		margin-top: 200px;
	}
	.menu nav {
		margin-top: 220px;
		grid-row-gap: 120px
	}
	.menu nav div svg {
		transform: scale(1.2);
	}
	.popup fieldset .select__btn {
		width: 220px;
	}
	.popup fieldset .options {
		width: 220px;
	}
	.main__cross-anim1, .main__cross-anim2 {
		height: 60px;
		top: 650px;
	}

	/*About секция*/

	.about__text p {
		margin: 85px 120px;
	}
	.card:hover .card__content {
		transform: translateY(200px);
	}

	/*Portfolio секция*/

	.portfolio__container {
		background-position: 0 144px;
	}
	.slider, .slider img, .slider .noise {
		width: 600px;
		height: 600px;
	}
	.graphics, .realism, .minimalism {
		padding: 85px 0;
	}

	/*Price секция*/

	.chooseStyle, .chooseStyle__styles {
		width: 190px;
	}
	.calculator__imput input {
		width: 170px;
	}
	.calculator__imput:before {
		width: 170px;
	}

	/*Футер*/

	.article {
		max-width: 650px;
	}
	.footer__info, .footer__contacts {
		width: 500px;
	}
}

@media screen and(max-width: 1400px) {

	html {
		font-size: 9px;
	}

	.container {
		width: 1000px;
	}

	/*Первая секция*/

	.main__container {
		width: 500px;
	}
	.logo {
		width: 150px;
	}
	.head__container {
		grid-template: 100px / 1fr 3fr 1fr;
	}
	.offer {
		width: auto;
		h1 {
			margin: 0;
			line-height: 4rem;
		}
		p {
			margin: 15px 0 0;
		}
		&__button {
			margin-top: 55px;
		}
	}
	.main__cross-anim1, .main__cross-anim2 {
		height: 40px;
		top: 400px;
	}

	/*About секция*/

	.about__text {
		p {
			margin: 40px 65px;
		}
	}
	.about__masters {
		margin-top: 90px;
	}
	.card:hover .card__content {
		transform: translateY(250px);
	}

	/*Portfolio секция*/

	.portfolio__container {
		background-position: 0 132px;
	}
	.slider, .slider img, .slider .noise {
		width: 400px;
		height: 400px;
	}
	.slider {
		margin: 0 100px 0 0;
	}
	.realism .slider {
		margin: 0 0 0 100px;
	}
	.graphics, .realism, .minimalism {
		padding: 60px 0;
	}
	.discription p {
		margin-top: 15px;
	}
	.morestyles {
		margin-top: 70px !important;
	}
}

@media screen and(max-width: 1100px) {

	.container {
		width: 90%;
	}
	h1, h2 {
		margin-bottom: 70px;
	}

	/*Первая секция*/

	header {
		background: url('../img/header-bg.png') no-repeat center;
		background-size: cover;
		background-position: center 100px;
	}
	.head__container {
		grid-template: 100px / 1fr 2fr 1fr;
	}
	.head__contacts p {
		display: none;
	}
	.menu nav {
		margin-top: 150px;
		grid-template: 100px 100px 100px/ 1fr 1fr 1fr;
	}
	.main {
		background: transparent;
		flex-direction: column;
	}
	.main__cross-anim1, .main__cross-anim2, .main__picture {
		display: none;
	}
	.main__container {
		width: 90%;
		margin: 0px auto;
	}
	.offer {
		display: flex;
		margin: 230px auto 430px;
		h1, p, button {
			color: $light;
		}
		.leftside {
			border: 2px solid $light;
			border-right: none;
		}
		.rightside {
			border: 2px solid $light;
			border-left: none;
		}
		.linetop, .linebottom {
			border-right: 2px solid $light;
		}
	}
	.offer__button {
		margin-top: 70px;
	}

	/*About секция*/

	section.about {
		padding: 120px 0 52px 0;
	}
	.about__text {
		position: relative;
		width: 100%;
		margin: 0 auto;
		text-align: center;
		padding: 50px;
		p {
			margin: 0 auto;
			display: block;
			text-align: justify;
		}
	}
	.about__img {
		width: 100% !important;
		margin-top: -100px;
	}
	.masters-cards {
		flex-direction: column;
		&__cross {
			margin: 50px 0;
		}
	}
	.card {
		transform: translateY(100%);
		animation: fadeinY 0.5s ease forwards;
	}
	.maria + img, .ivan + img {
		transform: translateY(400%);
		animation: fadeinY 0.5s ease forwards;
	}

	/*Portfolio секция*/

	.portfolio__transition {
		height: 100px;
	}
	.portfolio__header {
		margin-top: 48px;
		margin-bottom: 20px;
	}
	.portfolio__container {
		background: none;
	}
	.graphics, .realism, .minimalism {
		flex-direction: column;
	}
	.slider {
		margin: 0 0 50px 0;
	}
	.realism .slider {
		margin: 0 0 50px 0;
		order: -1;
	}
	.minimalism {
		align-items: center;
	}
	.portfolio__transition:last-child {
		margin-top: 48px;
	}

	/*Price секция*/

	section.price {
		padding: 52px 0 120px 0;
	}

	/*Футер*/

	.footer__contacts, .footer__info {
		width: 360px;
	}
}

@media screen and(max-width: 900px) {

	.head__container {
		grid-template: 100px / 1fr 1.5fr 1fr;
	}
	.head__points {
		display: none;
	}
	.calculator {
		flex-direction: column;
		height: 270px;
	}
	.chooseStyle__styles {
		background: #181818;
		z-index: 10;
	}
	.footer__info, .footer__contacts {
		width: 200px;
		flex-wrap: wrap;
		padding: 0;
		p, a {
			margin-top: 10px;
		}
	}

}

@media screen and(max-width: 650px) {

	.main {
		background: #fff;
	}
	.offer {
		margin: 100px 0;
		h1, p {
			color: $dark;
		}
		button {
			color: #000;
		}
		.leftside {
			border: 2px solid #000;
			border-right: none;
		}
		.rightside {
			border: 2px solid #000;
			border-left: none;
		}
		.linetop, .linebottom {
			border-right: 2px solid #000;
		}
	}
	.main__picture, .main__picture img {
		display: block;
		width: 100%;
	}
	.menu {
		overflow-y: scroll;
	}
	.menu nav {
		margin: 60px 0 60px;
		grid-template: repeat(9, 75px)/1fr;
		grid-row-gap: 0px;
	}
	.head__container {
		grid-template: 80px / 1.5fr 1fr 0.5fr
	}
	.head__contacts a:nth-child(2) {
		display: none;
	}
	.head__tel {
		display: block;
	}
	.card {
		width: 220px;
		height: 480px;
	&__content {
		transform: translateY(170px);
	}
	&:hover .card__content {
		transform: translateY(170px);
	}
	h4:after {
		display: none;
	}
	}
	.portfolio__transition {
		height: 50px;
	}
	.footer__container {
		flex-direction: column;
		height: auto;
		padding: 5px 0 15px 0;
	}
	.footer__info, .footer__contacts {
		flex-direction: column;
		width: 250px;
	}
	.footer__cross {
		margin: 25px 0 15px 0;
	}
}

@media screen and (max-width: 500px) {
	
	.container {
		width: 95%;
	}
	.popup {
		max-width: 280px;
		padding: 10px;
	}
	.popup fieldset {
		flex-direction: column;
	}
	.select__btn {
		margin: 10px 0 0 ;
		margin-left: 0 !important;
	}
	.popup textarea {
		width: 200px;
	}
	.about__text {
		padding: 15px;
	}
	h1 {
		font-size: 3rem;
		&:before, &:after {
			width: 25px;
		}
		&:before {
			transform: translateX(-40px);
		}
		&:after {
			transform: translateX(15px);
		}
	}
	h2 {
		font-size: 2.7rem;
	}
	.slider, .slider img, .slider .noise {
		width: 300px;
		height: 300px;
	}
	.articles {
		padding-top: 50px;
		height: 700px;
	}
	.article {
		flex-direction: column;
		p {
			text-align: center;
		}
		button {
			margin-top: 25px;
		}
		img {
			margin: 25px 0;
		}
	}
	a.up {
		margin: 25px 0 0;
	}
}

@media screen and (max-width: 400px) {

	.head__contacts {
		display: none;
	}
	.burger-btn {
		grid-column: 3;
	}
}